.adminPanel {
    padding: 1em;
    max-width: 550px;
    margin: 1em auto;
}

.adminProfile {
    color: white;
    border: 2px solid white;
    text-align: center;
}

.upcomingSessions {
    color: white;
    border: 2px solid white;
    padding: 1em;
}

.userDetails {
    color: black;
    border: 2px solid white;
}

.userList {
    color: white;
    border: 2px solid white;
    padding: 1em;
}

.meetings {
    max-width: max-content;
    padding: 0.2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5em;
    font-size: 1.1em;
}

.upcomingSchedules {
    border: 1px solid #acacac;
    padding: 0.5em;
    border-radius: 1em;
}

.userlist {
    font-size: 1.1em;
}

.list {
    list-style-type: lower-latin;
    cursor: pointer;
    margin: 0.2em auto;
}

.list:hover {
    background-color: #acacac;
}

.Details {
    position: absolute;
    top: 0;
    margin: 1em auto;
    /* left: 50%; */
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    /* height: auto; */
    padding: 1.5em;
    border-radius: 1em;
    background-color: rgb(93, 234, 247);
    z-index: 100;
    overflow-y: scroll;
    scrollbar-width: none;
}